#battle-field {

    #viewport {
        position: absolute;
        overflow: hidden;
    }

    canvas {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #map {
        // display: block;
    }

    #camera {
        // background-color: #fcfcfc;
    }

    #active {}

    #test {
        top: 1080px;
        background: #f1f1f1;
    }

    #ui-container {

        .left {
            position: absolute;
            left: 0;
            z-index: 999;
        }

        .center {
            position: absolute;
            left: 50%;
            z-index: 999;
            transform: translate(-50%, 0);
 
            .player-profiles {
                display: flex;
                gap: 0 10px;
            }

            .action-countdown {
                margin-top: 10px;
                display: flex;

                .skip {
                    padding: 10px;
                    background-color: pink;
                    cursor: pointer;
                }
            }
        }

        .right {
            position: absolute;
            right: 0;
            z-index: 999;

            #mini-map {
                position: relative;
                background-color: #ededed91;


                #mini-viewport {
                    position: absolute;
                    left: 0;
                    top: 0;
                    /* width: 100px; */
                    /* height: 60px; */
                    background-color: #cccccccf;
                    cursor: pointer;
                }
        
            }
        }

        button {
            min-width: 40px;
            height: 40px;
            user-select: none;
            /* most explorers */
            -webkit-user-select: none;
            /* safari */
            -moz-user-select: none;
            /* firefox */
            -ms-user-select: none;
            /* ie, edge */
        }
    }

    #tip {
        .tip-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .tip-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1001;
            color: #fff;
        }
    }

    #next-turn-noti {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 999;
    }

}