* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  z-index: 1;
}

#map {
  /* display: none */
}

#active {
}

#ui-container {
}

#ui-container .left {
  position: fixed;
  left: 0;
  z-index: 999;
}

#ui-container .right {
  position: fixed;
  right: 0;
  z-index: 999;
}

#ui-container button {
  min-width: 40px;
  height: 40px;
  user-select: none; /* most explorers */
  -webkit-user-select: none; /* safari */
  -moz-user-select: none; /* firefox */
  -ms-user-select: none;  /* ie, edge */
}